* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #bada55;
}

.memory-game {
  margin: auto;
  height: 640px;
  width: 640px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.33% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 20px;
  background: #1c7ccc;
  position: absolute;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  height: 30px;
  width: 180px;
  border: solid 5px;
  border-radius: 80px;
  text-align: center;
  display: block;
  color: #1c7ccc;
  margin: 8px;
  background: transparent;
  cursor: pointer;
}
